







<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
<title>Jewelry Shop</title>
<link rel="stylesheet" type="text/css" href="~/Content/style.css" />

</head>
<body style="background-color:lightsteelblue;">
<div id="wrap">

       <div class="header" style="background-color:black">
       		<div class="logo"><a href="index.html"><img src="~/Images/logo.png" alt="" title="" border="0" /></a></div> 
                      
        <div id="menu" style="background-color:black" >
            <ul>                                                                       
            
             <li><a href="@Url.Action("Index", "Home")" style="background-color:ThreeDLightShadow">Home</a></li>
               
            <li><a href="@Url.Action("About", "Home")" style="background-color:ThreeDLightShadow">About</a></li>
            <li><a href="#"style="background-color:ThreeDLightShadow">Jewels</a></li>
            <li><a href="@Url.Action("Specials", "Home")"style="background-color:ThreeDLightShadow">Specials</a></li>
            <li><a href="@Url.Action("Details", "Home")"style="background-color:ThreeDLightShadow">Prices</a></li>
            <li><a href="@Url.Action("Contact", "Home")"style="background-color:ThreeDLightShadow">Contact</a></li>
            </ul>
        </div>          
            
            
       </div> 
       
       
       <div class="center_content">
       	<div class="left_content">
        	<div class="crumb_nav">
            <a href="index.html">home</a> &gt;&gt; category name
            </div>
            <div class="title"><span class="title_icon"><img src="~/Images/bullet1.gif" alt="" title="" /></span>Category jewels</div>
           
           <div class="new_products" >
           
                    <div class="new_prod_box" style="background-color:blanchedalmond">
                        <a href="details.html">product name</a>
                        <div class="new_prod_bg" style="background-color:#FFFFDB">
                            <span class="new_icon"><img src="~/Images/new_icon.gif" alt="" title="" /></span>
                        <a href="@Url.Action("Details", "Home")"><img src="~/Images/thumb1.gif" alt="" title="" class="thumb" border="0" /></a>
                        </div>           
                    </div>
                    
                    <div class="new_prod_box" style="background-color:#FFFFDB">
                        <a href="details.html">product name</a>
                        <div class="new_prod_bg" style="background-color:blanchedalmond">
                        <span class="new_icon"><img src="~/Images/new_icon.gif" alt="" title="" /></span>
                        <a href="@Url.Action("Details", "Home")"><img src="~/Images/thumb2.gif" alt="" title="" class="thumb" border="0" /></a>
                        </div>           
                    </div>                    
                    
                    <div class="new_prod_box" style="background-color:blanchedalmond">
                        <a href="details.html">product name</a>
                        <div class="new_prod_bg" style="background-color:#FFFFDB">
                        <span class="new_icon"><img src="~/Images/promo_icon.gif" alt="" title="" /></span>
                        <a href="@Url.Action("Details", "Home")"><img src="~/Images/thumb3.gif" alt="" title="" class="thumb" border="0" /></a>
                        </div>           
                    </div>          


                    <div class="new_prod_box" style="background-color:#FFFFDB">
                        <a href="details.html">product name</a>
                        <div class="new_prod_bg" style="background-color:blanchedalmond">
                            <span class="new_icon"><img src="~/Images/new_icon.gif" alt="" title="" /></span>
                        <a href="@Url.Action("Details", "Home")"><img src="~/Images/thumb1.gif" alt="" title="" class="thumb" border="0" /></a>
                        </div>           
                    </div>
                    
                    <div class="new_prod_box" style="background-color:blanchedalmond">
                        <a href="details.html">product name</a>
                        <div class="new_prod_bg" style="background-color:#FFFFDB">
                        <span class="new_icon"><img src="~/Images/promo_icon.gif" alt="" title="" /></span>
                            <span class="new_icon"><img src="~/Images/new_icon.gif" alt="" title="" /></span>
                        <a href="@Url.Action("Details", "Home")"><img src="~/Images/thumb2.gif" alt="" title="" class="thumb" border="0" /></a>
                        </div>           
                    </div>                    
                    
                    <div class="new_prod_box" style="background-color:#FFFFDB">
                        <a href="details.html">product name</a>
                        <div class="new_prod_bg" style="background-color:blanchedalmond">
                        <span class="new_icon"><img src="~/Images/new_icon.gif" alt="" title="" /></span>
                        <a href="@Url.Action("Details", "Home")"><img src="~/Images/thumb3.gif" alt="" title="" class="thumb" border="0" /></a>
                        </div>           
                    </div> 
       
                    <div class="new_prod_box" style="background-color:blanchedalmond">
                        <a href="details.html">product name</a>
                        <div class="new_prod_bg" style="background-color:#FFFFDB">
                        <span class="new_icon"><img src="~/Images/new_icon.gif" alt="" title="" /></span>
                        <a href="@Url.Action("Details", "Home")"><img src="~/Images/thumb2.gif" alt="" title="" class="thumb" border="0" /></a>
                        </div>           
                    </div> 

                    <div class="new_prod_box" style="background-color:#FFFFDB">
                        <a href="details.html">product name</a>
                        <div class="new_prod_bg" style="background-color:blanchedalmond">
                        <span class="new_icon"><img src="~/Images/new_icon.gif" alt="" title="" /></span>
                        <a href="@Url.Action("Details", "Home")"><img src="~/Images/thumb1.gif" alt="" title="" class="thumb" border="0" /></a>
                        </div>           
                    </div>
                    
                     <div class="new_prod_box" style="background-color:blanchedalmond">
                        <a href="details.html">product name</a>
                        <div class="new_prod_bg" style="background-color:#FFFFDB">
                       <span class="new_icon"><img src="~/Images/new_icon.gif" alt="" title="" /></span>
                        <a href="@Url.Action("Details", "Home")"><img src="~/Images/thumb1.gif" alt="" title="" class="thumb" border="0" /></a>
                        </div>           
                    </div>

                    <div class="new_prod_box" style="background-color:#FFFFDB">
                        <a href="details.html">product name</a>
                        <div class="new_prod_bg" style="background-color:blanchedalmond">
                         <span class="new_icon"><img src="~/Images/new_icon.gif" alt="" title="" /></span>
                        <a href="@Url.Action("Details", "Home")"><img src="~/Images/thumb1.gif" alt="" title="" class="thumb" border="0" /></a>
                        </div>           
                    </div>
                    <div class="new_prod_box" style="background-color:blanchedalmond">
                        <a href="details.html">product name</a>
                        <div class="new_prod_bg" style="background-color:#FFFFDB">
                        <span class="new_icon"><img src="~/Images/new_icon.gif" alt="" title="" /></span>
                        <a href="@Url.Action("Details", "Home")"><img src="~/Images/thumb1.gif" alt="" title="" class="thumb" border="0" /></a>
                        </div>  
                    </div>
                     <div class="new_prod_box" style="background-color:#FFFFDB">
                        <a href="details.html">product name</a>
                        <div class="new_prod_bg" style="background-color:blanchedalmond">
                        <span class="new_icon"><img src="~/Images/new_icon.gif" alt="" title="" /></span>
                        <a href="@Url.Action("Details", "Home")"><img src="~/Images/thumb1.gif" alt="" title="" class="thumb" border="0" /></a>
                        </div>  

           </div>                  
                    

            <div class="pagination">
            <span class="disabled"><<</span><span class="current">1</span><a href="#?page=2">2</a><a href="#?page=3">3</a>…<a href="#?page=199">10</a><a href="#?page=200">11</a><a href="#?page=2">>></a>
            </div>  
            
            </div> 
          
            
        <div class="clear"></div>
        </div><!--end of left content-->
        
        <div class="right_content">
        	
                
              <div class="cart">
                  <div class="title"><span class="title_icon"><img src="~/Images/cart.gif" alt="" title="" /></span>My cart</div>
                  <div class="home_cart_content">
                  3 x items | <span class="red">TOTAL: 100$</span>
                  </div>
                  <a href="@Url.Action("Cart", "Home")" class="view_cart">view cart</a>
              
              </div>
                       
            	
        
        
             <div class="title"><span class="title_icon"><img src="~/Images/bullet3.gif" alt="" title="" /></span>About Our Shop</div> 
             <div class="about">
             <p>
             <img src="~/Images/about.gif" alt="" title="" class="right" />
           <p> Jewelry Shop is a shining star in the world of Gold items.Our organization deals with diamond items and white Gold items. Our 75 years experience tells ous to provide a grace full item to our respected customers:
             </p>
             
             </div>
             
             <div class="right_box">
             
             	<div class="title"><span class="title_icon"><img src="~/Images/bullet4.gif" alt="" title="" /></span>Promotions</div> 
                    <div class="new_prod_box">
                        <a href="details.html">product name</a>
                        <div class="new_prod_bg">
                        <span class="new_icon"><img src="~/Images/promo_icon.gif" alt="" title="" /></span>
                        <a href="details.html"><img src="~/Images/thumb1.gif" alt="" title="" class="thumb" border="0" /></a>
                        </div>           
                    </div>
                    
                    <div class="new_prod_box">
                        <a href="details.html">product name</a>
                        <div class="new_prod_bg">
                        <span class="new_icon"><img src="~/Images/promo_icon.gif" alt="" title="" /></span>
                        <a href="details.html"><img src="~/Images/thumb2.gif" alt="" title="" class="thumb" border="0" /></a>
                        </div>           
                    </div>                    
                    
                    <div class="new_prod_box">
                        <a href="details.html">product name</a>
                        <div class="new_prod_bg">
                        <span class="new_icon"><img src="~/Images/promo_icon.gif" alt="" title="" /></span>
                        <a href="details.html"><img src="~/Images/thumb3.gif" alt="" title="" class="thumb" border="0" /></a>
                        </div>           
                    </div>              
             
             </div>
             <div class="right_box">
          	    <div class="title"><span class="title_icon"><img src="~/Images/bullet5.gif" alt="" title="" /></span>Categories</div> 
                
                <ul class="list">
                <li><a href="@Url.Action("Bloggg", "Home")">Bridal Variety</a></li>
                <li><a href="@Url.Action("dmdearngs", "Home")">Diamond ear rings</a></li>
                <li><a href="#">Gold Neckless</a></li>
                <li><a href="#">Diamond neckless</a></li>
                <li><a href="#">Tanishq Product</a></li>
                <li><a href="#">Kundan Sets</a></li>
                <li><a href="#">Italian Bresscellets</a></li>
                <li><a href="#">Italian White Gold variety</a></li>
                <li><a href="#">Italian diamond Bengals</a></li>
                <li><a href="#">English jewelery</a></li>
                <li><a href="#">Indian Bridal kanopi</a></li>                                              
                </ul>
                
             	<div class="title"><span class="title_icon"><img src="~/Images/bullet6.gif" alt="" title="" /></span>Partners</div> 
                
                <ul class="list">
                        <li><a href="@Url.Action("Category1", "Home")">Starts from 10000</a></li>
                     <li><a href="@Url.Action("Category2", "Home")">*10000-15000</a></li>
                     <li><a href="@Url.Action("Category3", "Home")">* 15000-20000</a></li>
                     <li><a href="@Url.Action("Category4", "Home")">*20000-50000</a></li>
                     <li><a href="@Url.Action("Category5", "Home")">*50000-70000</a></li>
                     <li><a href="@Url.Action("Category6", "Home")">*70000-100000</a></li>
                     <li><a href="@Url.Action("Category7", "Home")">*100000-110000</a></li>
                    <li><a href="@Url.Action("Category8", "Home")">*110000.. .so on</a></li>
                </ul> 
             
             </div>         
             
        
        </div><!--end of right content-->
        
        
       <div class="clear"></div>
       </div><!--end of center content-->
       
              
     

</div>

</body>
</html>