@model newwwww.Models.Database1Entities3

@{
    ViewBag.Title = "Rabta1";
}

<html>
    <head>
<title>Jewelry Shop</title>
<link rel="stylesheet" type="text/css" href="~/Content/style.css" />
</head>
<body style="background-color:lightsteelblue">
<div id="wrap">

      <div class="header" style="background-color:black">
       		<div class="logo"><a href="index.html"><img src="~/Images/logo.png" alt="" title="" border="0" /></a></div> 
                      
        <div id="menu" style="background-color:black" >
        </div>      
            <div id="menu" style="background-color:black" >
            <ul>                
                <li><a href="@Url.Action("Index", "Home")"style="background-color:ThreeDLightShadow">Home</a></li>                                                       
            
            <li><a href="@Url.Action("About", "Home")"style="background-color:ThreeDLightShadow">About</a></li>
            <li><a href="@Url.Action("Category", "Home")"style="background-color:ThreeDLightShadow">Jewels</a></li>
            <li><a href="@Url.Action("Specials", "Home")"style="background-color:ThreeDLightShadow">Specials</a></li>
            <li><a href="@Url.Action("Myaccount", "Home")"style="background-color:ThreeDLightShadow">Log out</a></li>
            <li><a href="@Url.Action("Details", "Home")"style="background-color:ThreeDLightShadow">Prices</a></li>
            </ul>
        </div>      
            
       </div> <br />
<h2>Thank You. Your  message has been recieved.</h2>
       
       
       <div class="center_content">
       	<div class="left_content">
            <div class="title"><span class="title_icon"><img src="~/Images/bullet1.gif" alt="" title="" /></span><h2></h2></div>
        
        	<div class="feat_prod_box_details">
            <p class="details">
             Well come to the online jewelary shop, You requwst has been recieved:<br />
                We will Contact you soon.
             </p>

                <br />
                
              	
 
            


</div>

</body>
</html>
